body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Tw Cen MT', cursive;
}
legend {
	font-size: 40px;
    font-family: 'Tw Cen MT', cursive;
    padding: 12px 20px;

}

.formulary {
    width: 90%;
    margin: 1em auto;
    border: 1px solid grey;
    height: 300px;
}

.section__formulary {
    width: 100%;
    display: flex;
}

.first__section-division {
    width: 100%;
    height:  300px;
    box-sizing: border-box;
    border: 1px solid #333;
}

.first__section-subdivision:first-child {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.first__section-subdivision {
    box-sizing: border-box;
    width: 50%;
    height:  300px;
}


.first__section-horizontal_section {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: 1px solid #333;
}

.first__section-content-input {
    padding: .5em;
    box-sizing: border-box;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #333;
}

.first__section_box {
    height: 50%;
    width: 70%
    border: 1px solid #333;
}

.section__second {
    height: 69%;
    width: 70%;
    border: 1px solid #333;
}

.section__mini-bloque {
    height: 50%;
    width: 100%;
    border: 1px solid #333;
}
.section__doble {
    height: 50%;
    width: 100%;
    border: 1px solid #333;
}
.section__box-mini {
    height: 140%;
    width:  29.6%;
    border: 1px solid #333;
    float: right;
}

.section__mini {
    height: 75%;
    width: 100%;
    border: 1px solid #333;
    float: bottom;
}

.section__mini-m {
    height: 24%;
    width: 100%;
    border: 1px solid #333;
    float: bottom;
}

.first__section-horizontal_section:last-child
.first__section-content-input:last-child {
    border-bottom: 0;
}

.first__section-content-input label,
.first__section-content-input input {
    box-sizing: border-box;
    width: 100%;
}

.first__section-content-input input {
    padding: .5em;
    text-align: center;
    color: #ec3434;
    font-weight: 600;
}

.first__section-division input {
    box-sizing: border-box;
    width: 100%;
    padding: .5em;
    text-align: center;
    color: #ec3434;
    font-weight: 600;
}
.section__mini-bloque input {
    box-sizing: border-box;
    height: 12%;
}
.first__section-division p {
    text-align: center;

    box-sizing: border-box;
}

.first__section-name {
width: 100%;
height: 100%;
border:  1px solid #333;
box-sizing: border-box;
}
.section__name {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #333;
    float: left;
}
.first__section_edad {
    width: 10%;
    height: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
    float: right;
}

.section__triple {
    width: 33.3%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #333;
    float: left;
}

.first__section-content-input-mini {
    padding: .5em;
    box-sizing: border-box;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    border-bottom: 1px solid #333;
}

.first__section-content-input-lineal {

    box-sizing: border-box;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    border-bottom: 1px solid #333;
}

.first__section-horizontal_section-m {
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    border: 1px solid #333;
}

.first__section-subvision-doble {
    box-sizing: border-box;
    width: 50%;
    height:  100%;
    border: 1px solid #333;
    float: left;
    padding: 1em;
}
.first__section-subvision-dobles {
    box-sizing: border-box;
    width: 50%;
    height:  100%;
    border: 1px solid #333;
    float: left;

}


.approbe-salary-incorrect #approbe-salary {
    border: 1px solid red;
}

.date-incorrect #date {
    border: 1px solid red;
}

.month-salary-incorrect #month-salary {
    border: 1px solid red;
}



.first__section-subvision-doble #licencia_s, #licencia_n, #salud_b, #salud_r, #salud_m, #enfermedad_n, #enfermedad_s, #padres, #familia, #parientes, #solo, #soltero, #casado, #otro, #F, #M  {

    width: 5%;
    text-align: center;
}

.first__section-subvision-doble #check {
    width: 5%;

}

   input[type="checkbox"]{
       cursor: pointer;
       width: 5%;
   }